body {
  background-color: #f4f4f4;
  height: 100vh; /* altezza pari a tutta la finestra */
  display: flex;
  flex-direction: column;
  align-items: center; /* centra orizzontalmente */
  justify-content: center; /* centra verticalmente */
  margin: 0; /* rimuove margini predefiniti */
}

.input-group {
  gap: 10px;
  margin-bottom: 20px;
  width: 200px;
}
